@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;800&family=Manrope:wght@500&family=Poppins:wght@100;300;400;600&display=swap');

* :root {
  --color-primary: #FFFFFF;
  --color-primary: #000000;
  --color-primary: #E50914;
  --color-secondary: #8C8C8C;
  --color-secondary: #757575;
  --color-secondary: #00000066;
  --color-Secondary: #303030;
} *

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
  color: #ffffff;
  font-weight: 400;
    font-size: 16px;
}

header {
  width: 100%;
  height: 95vh;
  background-position: center;
  position: relative;
  background-size: 100%;
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4))
    ,url(./images/image\ 1\ \(1\).png);
  padding: 10px 6%;
  border-bottom: 2px solid rgba(78, 77, 77, 0.543);
  
}

.nav-bar{
  display:flex;
  align-items: center;
  justify-content:space-between ;
  padding:10px ;

}

nav button{
  background-color: #E50914;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 8px;
  border: none;
  margin-left: 9px;
  font-size: 14px;

}

.logo {
  height:35px; 
  /* width: 150px; */
}

.btn-1{
 background: transparent;
 text-align: center;
 border: 1px solid #FFFFFF;
 cursor: pointer ;

}


.basic-content {
 text-align: center;
 justify-content: center;
 align-items: center;
 position:absolute;
 margin-top: 150px;
 bottom: -70px;
 left: 50%;
 transform: translate(-50%,-50%) ;

} 

.content-heading{
  line-height: 60px;
  font-size: 50px;
  font-weight: 600;
  
}
.content-sub-heading{
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 10px;
}
.content-para{
  margin-bottom: 8px;
}

.email-sign-in{
  display: flex;
  background:#FFF ;
  border-radius: 5px;
  align-items: center;
  margin-top: 20px;

}

.email-sign-in input{
  padding: 15px 30px ; 
  border: 0;
  margin-left: 20px;
  flex: 1;
  outline: 0;
}
.email-sign-in .btn-2{
  background-color: #E50914;
  color: #FFFFFF;
  border: 0;
  outline: 0;
  border-radius: 4px; 
  padding: 15px ;
  cursor: pointer;  
}

/* ------------features-section-----------  */
.features {
  font-size: 22px;
}
.row {
  display: flex;
  border-bottom: 2px solid rgba(78, 77, 77, 0.543);
  align-items: center;
  justify-items: space-between;
  padding: 50px 12%;
  position: relative;
  flex-wrap: nowrap;
  
}
.text-col {
  flex-basis: 50%;
}
.text-col h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text-col p{
    font-size: 23px;
}

.img-col {
  flex-basis: 50%;
}
.img-col img{
    width: 550px;
}

/* --------------accordion---------------- */


.Questions-and-ans{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 12px;
    font-size: 18px;
    border-bottom: 2px solid rgba(78, 77, 77, 0.543);


}
.Questions-and-ans h2{
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;

}
.accodion{
    width: 100%;
    max-width: 900px;
    margin: 30px 0px;
    padding-left: 0px;
}
.accodion li{
    list-style: none;
    width: 100%;
    padding: 5px 0px;
}

.accodion li label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accodion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accodion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accodion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


.accodion-email-signup{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 14px;
    width: 100%;
    margin-bottom: 40px;
 }
 
.accodion-email-signup input{
  width: 350px;

}

.accodion-email-signup .accodion-p{
    font-size: 16px;
    line-height: 70px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
} 


/*-------------------------footer----------------- */
.footer-container{
  padding-bottom: 4rem;
  background-color: black;
  
}

.footer{
  width: 80%;
  height: 40vh;
  display: flex;
  background-color: black;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15px;
  margin: 30px auto;
} 
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading a{
  color: #e5dddd49;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-heading a:hover{
  color: red;
} 

.btn-4{
  background: transparent;
  padding: 4px;
  text-align: center;
  color: #e5dddd49;
  border: 1px solid #e5dddd49 ;
  cursor: pointer ;
 
 }

 .btn-4 .small-icon{
  position: relative;
  top: 2px;
 }

/* ------------------media-queries-small-screen------------------ */
@media only screen and (max-width: 900px){
    header{
      height: fit-content;
    }
  
    .logo{
        width: 100px;
    }
    nav button{
        padding: 6px 12px;
        margin-left: 4px;
    }
    nav .language-button{
        padding: 5px 5px;
        
    }
    nav .language-button img{
        width: 7px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 30px;
        
       
    }
    .header-content h1{
        font-size: 28px;
        line-height: 40px;
        
    }
    .header-content h3{
        line-height: 38px;
        font-size: 18px;
    }
    .header-content p{
        font-size: 16px;
        line-height: 38px;
        margin-top: 0;
       
    }
    /* .email-signup button{
        font-size: 12px;
        padding: 9px;
    }
    .email-signup input{
        width: 150px;
        padding: 10px 12px;
        margin-right: 6px;
    } */
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .row:nth-child(2),.row:nth-child(4){
      flex-wrap: wrap-reverse;
    }
    .img-col img{
        width: 300px;
    }
    .text-col h2{
        font-size: 25px;
    }
    .text-col p{
        font-size: 15px;
    }
    .accodion{
        width: 100%;
        max-width: 400px;
    }
    .accodion li label{
        padding: 20px;
    }
    .accodion-email-signup .accodion-p{
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        width: 350px;
    }
    
    .accodion-email-signup button{
        font-size: 12px;
        padding: 9px;
    }
    .accodion-email-signup input{
        width: 150px;
        padding: 10px 12px;
        margin-right: 6px;
    }
    .email-signup2{
        width: 100%;
    }
    footer{
        display: flex;
        width: 100%;
       flex-wrap: wrap;
        margin: 0 ;
        
        justify-items: center;
        align-items: center;   
        
    }
    .footer-container .row2{
        padding: 2px 7px;
        flex-basis: 50%;
    }
    .footer-container a{
        font-size: 10px;
        line-height: 10px;
    }
    

    
}